@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bacchus</h1>
        <p>Welcome to Bachhus auction website. Biddings are done blind, so you don't know if your bid is highest. Winners will be contacted by us.
            See running bids under Auctions. Good luck!</p>
</div>